<?xml version="1.0" encoding="utf-8" ?>
<nlog>
	<extensions>
		<add assembly="NLog.MongoDB"/>
	</extensions>
	<targets>    
		<target type="MongoDB" name="Mongo" database="nlog"
            host="ds035607.mongolab.com" port="35607"            
            username="mongo" password="db" />
    <target type="MongoDB" name="Mongo-ConnectionString" 
            connectionString="mongodb://mongo:db@ds035607.mongolab.com:35607/nlog" />
    <target type="MongoDB" name="Mongo-ConnectionName" 
            connectionName="MongoDB" />
	</targets>
	<rules>
		<logger name="testMongo" minLevel="Info" appendTo="Mongo"/>
    <logger name="testMongoConnectionString" minLevel="Info" appendTo="Mongo-ConnectionString"/>
    <logger name="testMongoConnectionName" minLevel="Info" appendTo="Mongo-ConnectionName"/>
	</rules>
</nlog>