<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <extensions>
    <add assembly="NLog.MongoDB"/>
  </extensions>
  <targets>

    <target type="MongoDB" name="Mongo" database="nlog"
            host="ds035607.mongolab.com" port="35607"
            username="mongo" password="db" />

    <target type="MongoDB" name="Mongo-ConnectionString"
            connectionString="mongodb://mongo:db@ds035607.mongolab.com:35607/nlog" />

    <target type="MongoDB" name="Mongo-ConnectionName"
            connectionName="MongoDB" />

    <target type="MongoDB" name="Mongo-ConnectionName-Fields"
        connectionName="MongoDB">
      <field name="timestamp" layout="${date}" />
      <field name="level" layout="${level}" />
      <field name="message" layout="${message}" />
      <field name="exception" layout="${exception}" />
    </target>

    <target type="MongoDB" name="Mongo-ConnectionName-TypedFields" connectionName="MongoDB">
      <field name="timestamp" />
      <field name="level" />
      <field name="message" />
      <field name="exception" />
      <field name="transactionId" />
    </target>

  </targets>
  <rules>
    <logger name="testMongo" minLevel="Info" appendTo="Mongo"/>
    <logger name="testMongoConnectionString" minLevel="Info" appendTo="Mongo-ConnectionString"/>
    <logger name="testMongoConnectionName" minLevel="Info" appendTo="Mongo-ConnectionName"/>
    <logger name="testDynamicFields" minLevel="Info" appendTo="Mongo-ConnectionName-Fields"/>
    <logger name="testDynamicTypedFields" minLevel="Info" appendTo="Mongo-ConnectionName-TypedFields"/>
  </rules>
</nlog>