<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeSharp.Package.MSTest" version="10.0" targetFramework="net45" />
  <package id="FluentAssertions" version="2.0.1" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.1" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="NLog.Config" version="2.0.0.2000" />
</packages>